@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

em {
  background-color:  var(--text);
  color:  var(--bg);
  font-weight:  bold;
  font-style:  normal;
}

ul, ol {
  margin:  0;
}

.mail {
  display:  inline-block;
  width:  100%;
  box-sizing:  border-box;
  padding: 1em;
  border: 1px solid var(--text);
  margin-top: 0.25em;
}

.shake {
  display:  inline-block;
  animation:  shaky linear 0.5s infinite;
}

.shake:nth-of-type(2n) {
  animation:  shaky2 linear 0.5s infinite;
}

@keyframes shaky {
  0% {
    transform:  translateY(-2px);
  }
  50% {
    transform:  translateY(0px);
  }
  100% {
    transform:  translateY(-2px);
  }
}
@keyframes shaky2 {
  0% {
    transform:  translateY(0px);
  }
  50% {
    transform:  translateY(-2px);
  }
  100% {
    transform:  translateY(0px);
  }
}

:root {
  --bg:  #b06d07;
  --text:  #fcc879;
}

body {
  background-color:  var(--bg);
  font-family:  'Ubuntu Mono', monospace;
}

#container {
  position:  absolute;
  left:  50%;
  top:  50%;
  transform:  translate(-50%, -50%);

  width:  50vh;
  height:  50vh;
  line-height: 1em;
  color:  var(--text);

  /*border:  1px solid var(--text);
  padding:  1em;*/
}

#output {
  width:  calc(100% - 2em);
  height:  calc(100% - 5em);
  padding:  1em;
  padding-top:  0;
  overflow:  hidden;
}

#output div {
  margin-bottom:  0.5em;
  word-break:  break-word;
  transition:  1s;
}

#output .you {
  background-color:  var(--text);
  color:  var(--bg);
}

#output_filter {
  position:  absolute;
  width:  100%;
  height:  calc(100% - 3em);
  background: linear-gradient(180deg, rgba(176, 109, 7, 0) 50%, rgba(176, 109, 7, 1) 100%);
  top:  3em;
  pointer-events:  none;
}

#input_wrapper {
  width:  calc(100% - 2em);
  padding:  1em;
  color:  var(--text);
  overflow:  hidden;
  word-break: keep-all;
}

#app {
  position:  absolute;
  opacity:  0.5;
  transition:  0.5s;
}

.hidden {
  opacity:  0 !important;
}

#input {
  white-space: pre;
}

#caret {
  display:  inline;
  height:  1em;
  background-color:  var(--text);
}

#caret.idle {
  animation:  blink linear 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity:  1;
  }
  100% {
    opacity:  0;
  }
}